<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ImageLibraryDAL.Properties.Settings.ImageLibraryDatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\ImageLibraryDatabase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ImageLibraryDAL.Properties.Settings.DataSourceConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>